#footer {
    box-sizing: border-box;
    height: 50px;
    background-color: black;
    margin-top: 50px;
    margin-bottom: 0px;
    padding-left: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer > p {
    font-family: Inter;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}