@import "../fonts/Inter/inter.css";

* {
    margin: 0;
}

html, body {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    height: 100%;
    width: 100%;
}

#content-section {
    width: 100%;
    text-align: center;
    transform: translateY(150px);
}

#macos {
    font-family: Inter;
    font-weight: 1000;
    margin-bottom: 10px;
}

p {
    font-family: Inter;
    font-size: 18;
}

.installation-type {
    width: 75%;
    display: inline-block;
    margin-left: 25%;
    margin-top: 50px;
    text-align: left;
}

.installation-type > h1 {
    font-family: Inter;
    font-weight: 300;
    margin-bottom: 10px;
}

.installation-type > ol > li, #important > ol > li {
    font-family: Inter;
    font-size: 18;
}

.installation-type > ol > li > code {
    font-family: consolas;
    font-size: 18;
    background-color: #d6d6d6;
    padding: 2px 2px 2px 2px;
}

#usage {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#usage > p {
    font-size: 23px;
}

#important {
    width: 75%;
    margin-left: 25%;
    text-align: left;
}

h1#important-header {
    font-size: 60px;
    font-weight: 1000;
    font-family: Inter;
    margin-top: 50px;
    margin-bottom: 10px;
}